body {
    font-family: 'IBM Plex Sans';
}

.section__cards {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media (max-width: 872px) {

    .section__cards {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.section_grey {
    background: #EEEEF2;
}

.container {
    margin: auto;
    max-width: 856px;
    padding-left: 25px;
    padding-right: 25px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -16px;
}

.card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    margin: 16px;
    width: 387px;
}

@media (max-width: 872px) {
    .card {
        width: 325px;
    }

}

.card__content {
    flex-grow: 1;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    align-items: flex-start;
    color: #47464D;
}

@media (max-width: 872px) {

    .card__content {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.card__title {
    font-size: 26px;
    font-weight: 500;
    line-height: 33.8px;
    margin: 0;
}

.card__subtitle {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 18px;
}

.card__subtitle a {
    text-decoration: none;
    color: #0084D1;
}

@media (max-width: 872px) {

    .card__subtitle {
        margin-top: 20px;
    }
}

.card::before {
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    background-color: #0084D1;
    margin: 40px 30px 24px;
}

@media (max-width: 872px) {

    .card::before {
        margin: 20px;
    }
}

.card__footer {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 25px;
}

.card__btn {
    background-color: #0084D1;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    font-weight: 500;
}

.card__btn:hover {
    background-color: #0081f1;
}

@media (max-width: 872px) {

    .card__btn {
        font-size: 14px;
        padding: 16px 24px 16px 25px;
    }

    .card__footer {
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 25px;
    }
}

.social {
    width: 70px;
    height: 200px;
    background-color: #2A2930;
    position: fixed;
    bottom: 0;
    right: 0;
}

.social__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.social__link {
    width: 40px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.social__icons i {
    color: #FFFFFF;
    font-size: 17px;
}

.social__icons i:hover { 
    color: #0084D1; 
}

@media (max-width: 732px) {

    .social {
        display: none;
    }
}